.todo {
  @apply w-full flex justify-start items-center text-gray-400 border-l-4 border-b-2 border-b-gray-600 bg-dark p-4;
}

.todoItem {
  @apply w-full;
}

.done {
  text-decoration-color: rgba(45, 194, 255, 1);
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px;
}

.check {
  @apply mr-3 cursor-pointer;
}

.times {
  @apply text-gray-400 hover:text-gray-300 cursor-pointer;
}

.normal {
  @apply border-l-blue-600;
}

.low {
  @apply border-l-green-700;
}

.medium {
  @apply border-l-yellow-600;
}

.high {
  @apply border-l-red-700;
}

.back {
  @apply w-full flex justify-between items-center text-lg;
}

.Normal {
  @apply text-blue-600 ml-1;
}

.Low {
  @apply text-green-700 ml-1;
}

.Medium {
  @apply text-yellow-600 ml-1;
}

.High {
  @apply text-red-700 ml-1;
}

.dateContainer {
  @apply flex items-center;
}

.date {
  @apply text-slate-300;
}

.info {
  @apply mr-3
}