.todo {
  @apply w-full flex justify-start items-center text-gray-400 border-l-4 border-b-2 border-b-gray-600 bg-dark p-4;
}

.todo::-webkit-scrollbar {
  height: 2px;
}

.todo::-webkit-scrollbar-track {
  background: rgb(170, 170, 170);
}

.todo::-webkit-scrollbar-thumb {
  background: rgb(108, 117, 125);
}

.todoItem {
  @apply w-full break-words overflow-hidden leading-[1.8] md:leading-normal;
}

mark {
  @apply px-[5px] py-1 mx-[2px] bg-white text-dark font-bold;
}

.done {
  text-decoration-color: rgba(45, 194, 255, 1);
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px;
}

.check {
  @apply mr-3 cursor-pointer shrink-0;
}

.times {
  @apply text-gray-400 hover:text-gray-300 cursor-pointer shrink-0;
}

.normal {
  @apply border-l-blue-600;
}

.low {
  @apply border-l-green-700;
}

.medium {
  @apply border-l-yellow-600;
}

.high {
  @apply border-l-red-700;
}

.back {
  @apply w-full flex justify-between items-center text-lg;
}

.Normal {
  @apply text-blue-600;
}

.Low {
  @apply text-green-700;
}

.Medium {
  @apply text-yellow-600;
}

.High {
  @apply text-red-700;
}

.dateContainer {
  @apply flex items-center;
}

.created {
  @apply hidden md:inline mr-1;
}

.priority {
  @apply hidden md:inline mr-1;
}

.date {
  @apply text-slate-300;
}

.info {
  @apply mr-3;
}
